<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" th:href="@{/css/about.css}">
<link rel="stylesheet" th:href="@{/css/profile.css}">
<link rel="stylesheet" href="/css/service.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" th:href="@{/css/about.css}">
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/services.js}"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script th:src="@{/js/about.js}"></script>
<title>Car Wash</title>