<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" width="47" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="logged-user" sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"
                           th:href="@{/users/view/{name}(name = ${#authentication.principal.username})}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:text="#{about}" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="!isAuthenticated()" th:text="#{login}" href="/users/login"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="!isAuthenticated()" th:text="#{register}" href="/users/register"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:text="#{services}" href="/services/view"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:text="#{myVehicles}" href="/my-vehicles"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" th:text="#{contact}">Contact</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" th:text="#{appointments}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Appointments
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:text="#{makeAppointment}" href="/appointments/make-appointment">Make Appointment</a>
                            <a class="dropdown-item" th:text="#{myAppointments}" href="/appointments/my-appointments">My Appointments</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('EMPLOYEE')">
                        <a class="nav-link dropdown-toggle" href="#" id="managerNavbar" role="button" th:text="#{staff}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="dropdown-header" sec:authorize="hasRole('OWNER')" th:text="#{owner}">Owner</p>
                            <a class="dropdown-item" sec:authorize="hasRole('OWNER')" href="/owner/services/add" th:text="#{addService}">Add Service</a>
                            <a class="dropdown-item" sec:authorize="hasRole('OWNER')" href="/owner/users/all" th:text="#{allUsers}">All Users</a>
                            <div class="dropdown-divider"></div>
                            <p class="dropdown-header" sec:authorize="hasRole('MANAGER')" th:text="#{manager}">Manager</p>
                            <a class="dropdown-item" sec:authorize="hasRole('MANAGER')" href="/manager/awaiting-approval" th:text="#{appointmentsAwaiting}"></a>
                            <a class="dropdown-item" sec:authorize="hasRole('MANAGER')" href="/manager/all-appointments" th:text="#{allAppointments}"></a>
                            <div class="dropdown-divider"></div>
                            <p class="dropdown-header" sec:authorize="hasRole('EMPLOYEE')" th:text="#{employee}">Employee</p>
                            <a class="dropdown-item" sec:authorize="hasRole('EMPLOYEE')" href="/employee/appointments-today" th:text="#{appointmentsForToday}">Appointments for today</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:text="#{chat}" href="/chat"></a>
                    </li>
                    <li class="nav-item btn-outline-danger rounded" sec:authorize="isAuthenticated()">
                        <form th:action="@{/users/logout}" th:method="post">
                            <input class="nav-link border-0 bg-transparent" type="submit" th:value="#{logout}"/>
                        </form>
                    </li>
                </ul>
                <div class="ml-auto mr-0">
                    <img src="/images/Bandera-UK.svg" style="cursor: pointer;" width="20" height="20" onclick="changeLanguage('en')">
                    <img src="/images/bulgaria.png" style="cursor: pointer;" width="20" height="20" onclick="changeLanguage('bg')">
                    <img src="/images/italian-flag.svg" style="cursor: pointer;" width="20" height="20" onclick="changeLanguage('it')">
                </div>
            </div>
        </div>
    </nav>
</header>