<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" width="47" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"
                           th:href="@{/users/view/{name}(name = ${#authentication.principal.username})}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="!isAuthenticated()" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="!isAuthenticated()" href="/users/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" href="/services/view">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" href="/my-vehicles">My Vehicles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="appointmentsNavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Appointments
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" sec:authorize="!hasRole('MANAGER')" href="/appointments/make-appointment">Make Appointment</a>
                            <a class="dropdown-item" href="/appointments/my-appointments">My Appointments</a>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/users/logout}" th:method="post">
                        <input class="nav-link border-0 bg-transparent" type="submit" value="Logout"/>
                        </form>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('OWNER')">
                        <a class="nav-link dropdown-toggle" href="#" id="ownerNavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('MANAGER')">
                        <a class="nav-link dropdown-toggle" href="#" id="managerNavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manager
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/moderator/awaiting-approval">Appointment Wait..</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>