<div class="card bg-light mt-2" style="width: 18rem; margin: 0 auto">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center" th:text="#{createAccount}">Create Account</h4>
        <small th:text="#{pictureNotRequired} + ':'"></small>
        <form th:method="post" th:action="@{/users/register}" th:object="${registerDTO}" enctype="multipart/form-data">
            <div class="form-group input-group">
                <label for="image" class="h4 mb-2 text-white"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-image"></i> </span>
                </div>
                <input id="image"
                       th:field="*{image}"
                       class="form-control" type="file" accept="image/png, image/jpeg">

            </div>
            <div class="form-group input-group">
                <label for="username" class="h4 mb-2 text-white"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input id="username"
                       th:field="*{username}"
                       class="form-control" th:placeholder="#{username}" type="text" minlength="3" maxlength="20" is required
                       oninput="validateField(this, validateUsername)"
                       onchange="validateField(this, validateUsername)"
                       th:classappend="${#fields.hasErrors('username')} ? 'is-invalid bg-danger'">
                <small class="invalid-feedback text-danger" th:each="msg : ${#fields.errors('username')}"
                       th:text="${msg}"></small>
            </div>
            <div class="form-group input-group">
                <label for="email" class="h4 mb-2 text-white"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input id="email"
                       th:field="*{email}"
                       class="form-control" th:placeholder="#{email}" type="email" is required
                       oninput="validateField(this, validateEmail)"
                       onchange="validateField(this, validateEmail)"
                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid bg-danger'">
                <small class="invalid-feedback text-danger" th:each="msg : ${#fields.errors('email')}"
                       th:text="${msg}"></small>
            </div>
            <div class="form-group input-group">
                <label for="password" class="h4 mb-2 text-white"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input id="password"
                       th:field="*{password}"
                       class="form-control" th:placeholder="#{password}" type="password" minlength="8" maxlength="20" is required
                       oninput="validateField(this, validatePassword)"
                       onchange="validateField(this, validatePassword)"
                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid bg-danger'">
                <small class="invalid-feedback text-danger" th:each="msg : ${#fields.errors('password')}"
                       th:text="${msg}"></small>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <label for="confirmPassword" class="h4 mb-2 text-white"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input id="confirmPassword"
                       th:field="*{confirmPassword}"
                       class="form-control" th:placeholder="#{confirmPassword}" type="password" minlength="8" maxlength="20" is required
                       oninput="validateField([document.getElementById('password'), document.getElementById('confirmPassword')], validateConfirmPassword)"
                       onchange="validateField([document.getElementById('password'), document.getElementById('confirmPassword')], validateConfirmPassword)"
                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid bg-danger'">
                <small class="invalid-feedback text-danger" th:each="msg : ${#fields.errors('password')}"
                       th:text="${msg}"></small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block" onclick="return validateForm()" th:text="#{createAccount}"></button>
                <div class="flex-nowrap ">
                <small class="text-center" th:text="#{haveAnAccount} + ' '" ></small>
                <a class="btn btn-block btn-outline-success mr-0" href="/login" th:text="#{login}"></a>
                </div>
            </div>
        </form>
    </article>
</div> <!-- card.// -->
<!-- Add this script block to your HTML file -->
<script th:src="@{/js/registerValidations.js}"></script>
