<div class="card bg-light" style="width: 18rem; margin: 0 auto">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <small>Chose profile picture:</small>
        <form th:method="post" th:action="@{/users/register}" th:object="${userRegisterDTO}" enctype="multipart/form-data">
            <div class="form-group input-group">
                <label for="image" class="h4 mb-2 text-white"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-image"></i> </span>
                </div>
                <input id="image"
                       th:field="*{image}"
                       class="form-control" type="file" accept="image/png, image/jpeg" is required
                       th:classappend="${#fields.hasErrors('image')} ? 'is-invalid bg-danger'">
                <small class="invalid-feedback alert alert-danger" th:each="msg : ${#fields.errors('image')}"
                       th:text="${msg}"></small>
            </div>
            <div class="form-group input-group">
                <label for="username" class="h4 mb-2 text-white"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input id="username"
                       th:field="*{username}"
                       class="form-control" placeholder="Username" type="text" minlength="3" maxlength="20" is required
                       th:classappend="${#fields.hasErrors('username')} ? 'is-invalid bg-danger'">
                <small class="invalid-feedback text-danger" th:each="msg : ${#fields.errors('username')}"
                       th:text="${msg}"></small>
            </div>
            <div class="form-group input-group">
                <label for="email" class="h4 mb-2 text-white"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input id="email"
                       th:field="*{email}"
                       class="form-control" placeholder="Email address" type="email" is required
                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid bg-danger'">
                <small class="invalid-feedback text-danger" th:each="msg : ${#fields.errors('email')}"
                       th:text="${msg}"></small>
            </div>
            <div class="form-group input-group">
                <label for="password" class="h4 mb-2 text-white"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input id="password"
                       th:field="*{password}"
                       class="form-control" placeholder="Create password" type="password" minlength="8" maxlength="20" is required
                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid bg-danger'">
                <small class="invalid-feedback text-danger" th:each="msg : ${#fields.errors('password')}"
                       th:text="${msg}"></small>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <label for="confirmPassword" class="h4 mb-2 text-white"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input id="confirmPassword"
                       th:field="*{confirmPassword}"
                       class="form-control" placeholder="Repeat password" type="password" minlength="8" maxlength="20" is required
                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid bg-danger'">
                <small class="invalid-feedback text-danger" th:each="msg : ${#fields.errors('password')}"
                       th:text="${msg}"></small>
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block"> Create Account  </button>
            </div> <!-- form-group// -->
            <p class="text-center">Have an account? <a href="/login">Log In</a> </p>
        </form>
    </article>
</div> <!-- card.// -->
