<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/not-found.css">
    <title>Not Found</title>
</head>
<body>
<header>
    <div class="head-text">
        <p>404 Not Found</p>
    </div>
</header>
<main>
    <div class="main-wrapper">
        <picture class="scarecrow-img">
            <img src="https://raw.githubusercontent.com/nat-oku/devchallenges/main/Scarecrow.png" alt="scarecrow">
        </picture>
        <div class="error-text">
            <h2>I have bad news for you</h2>
            <p>The page you are looking for might be removed or is temporarily unavailable.</p>
            <span class="input-group-btn">
          <a id="myButton" class="btn btn-dark" href="http://localhost:8080/">Back to homepage</a>
        </span>
        </div>
    </div>

</main>
<th:block th:replace="~{fragments/footer.html}"></th:block>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "localhost:8080";
    };
</script>
</body>
</html>