<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ServerError.css">
    <title>500</title>
</head>
<body>
<h5>Internal Server error !</h5>
<h1>5</h1>
<h1>00</h1>
<div class="box">
    <span></span><span></span>
    <span></span><span></span>
    <span></span>
</div>
<div class="box">
    <span></span><span></span>
    <span></span><span></span>
    <span></span>
</div>
<p> We're unable to find out what's happening! We suggest you to
    <br/>
    <a href="javascript:history.back()">Go Back</a>
    or visit here later.</p>
</body>
</html>