* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header:hover {
    background-color: whitesmoke;
}

h3 {
    text-align: center;
}

.welcome {
    text-align: center;
    font-size: 4em;
    color: gold;
}

#index-response {
    display: block;
    background-color: black;
    color: whitesmoke;
    max-width: 50%;
    margin: 3em auto;
    border-radius: 14px;
    opacity: 80%;
    padding: 2em;
}