<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/chat.css}">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
</head>
<body onload="connect('submit', connect, true)">
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
            <h2 th:text="#{chat}"></h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" th:placeholder="#{typeAMessage}" autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary" th:text="#{send}">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/js/chat.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>