<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<div class="content">

    <div class="container">
        <div class="row bg-light rounded mt-2">
            <div class="col-md-5 mr-auto">
                <h2 th:text="#{contactUs}"></h2>
                <p class="mb-5" th:text="#{contactUsInfo}"></p>

                <ul class="list-unstyled pl-md-5 mb-5">
                    <li class="d-flex text-black mb-2">
                        <span class="mr-3"><i class="fa-solid fa-location-dot"></i></span> Odrin 1, Vratsa, <br> Bulgaria
                    </li>
                    <li class="d-flex text-black mb-2"><span class="mr-3"><i class="fa-solid fa-phone"></i></span> +359 (092) 777 777</li>
                    <li class="d-flex text-black"><span class="mr-3"><i class="fa-solid fa-envelope"></i></span> carwash1303@gmail.com </li>
                </ul>
            </div>

            <div class="col-md-6">
                <form class="mb-5" method="post" id="contactForm" name="contactForm" th:action="@{/contact}" th:object="${contactDTO}">
                    <p class="alert alert-success" th:if="${success}">
                        Thank you for your message. We will get back to you as soon as possible.
                    </p>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="name" class="col-form-label" th:text="#{name}"></label>
                            <input type="text" class="form-control" th:field="*{name}" id="name"
                                th:errorclass="is-invalid">
<p class="invalid-feedback bg-danger text-light" th:if="${#fields.hasErrors('name')}" th:each="msg : ${#fields.errors('name')}"
                th:text="${msg}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email" class="col-form-label" th:text="#{email}"></label>
                            <input type="text" class="form-control"
                                   th:field="*{email}" id="email"
                                   th:errorclass="is-invalid">
                            <p class="invalid-feedback bg-danger text-light" th:if="${#fields.hasErrors('email')}"
                                th:each="msg : ${#fields.errors('email')}"
                            th:text="${msg}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="message" class="col-form-label" th:text="#{message}"></label>
                            <textarea class="form-control" th:field="*{message}" id="message" cols="30" rows="7"
                                      th:errorclass="is-invalid"></textarea>
                            <p class="invalid-feedback bg-danger text-light" th:if="${#fields.hasErrors('message')}"
                                        th:each="msg : ${#fields.errors('message')}"
                                        th:text="${msg}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" th:value="#{sendMessage}" class="btn btn-primary rounded-0 py-2 px-4">
                            <span class="submitting"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{fragments/footer.html}"></th:block>
</body>
</html>