<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<div class="container">

    <form class="bg-light well form-horizontal" th:action="@{'/users/edit-password/' + ${username}}" th:method="POST">
        <fieldset>

            <!-- Form Name -->
            <legend class="text-center">Reset your password!</legend>
            <p class="alert alert-danger text-center">Password should be between 8 and 20 symbols and should match!</p>
            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-registerDTO"></i></span>
                        <input  name="password" placeholder="Password" class="form-control"  type="password"
                                minlength="8" maxlength="20" is required>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label" >Confirm Password</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-registerDTO"></i></span>
                        <input name="confirmPassword" placeholder="Confirm Password" class="form-control"  type="password"
                               minlength="8" maxlength="20" is required>

                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success" >Submit <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div><!-- /.container -->



<th:block th:replace="~{fragments/footer.html}"></th:block>
<script th:src="@{/js/registerValidations.js}"></script>
</body>
</html>