<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<div class="container justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12 bg-light">
            <h1>Forgot Password</h1>
            <p th:if="${activationSend}">Activation link has been send! Check your email!</p>
            <p>Enter your email address to reset your password.</p>
            <form th:action="@{/users/forgot-password}" method="post" class="form-check">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted alert-danger">We'll never share your email with anyone else.</small>
                        <input type="submit" class="btn btn-primary" value="Submit">
                       <a href="/login" class="btn btn-secondary">Cancel</a>
                        <a href="/register" class="btn btn-secondary">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>



<th:block th:replace="~{fragments/footer.html}"></th:block>
</body>
</html>