<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="~{fragments/head.html}"></th:block>
</head>
<body onload="fetchIndex()">
<th:block th:replace="~{fragments/navbar.html}"></th:block>

    <div class="welcome" sec:authorize="isAuthenticated()">
        Hello and welcome, <span sec:authorize="isAuthenticated()" sec:authentication="name">Car Wash!</span>
    </div>

<div class="guest" sec:authorize="!isAuthenticated()">
    Please <a href="/users/login">LOGIN</a> if you already have an account or <a href="/users/register">REGISTER</a> !
</div>

    <div class="mainContainer-index">
        <blockquote id="index-response" class="index-quote">
            <h1>Welcome to CarWash!</h1>
            Get your car sparkling clean with our premium car washing services. Our state-of-the-art facility uses the latest tools and technologies to make sure your car gets a perfect clean, inside and out.
                We offer a range of car washing packages to suit your needs:
            <br>
            <br>
            <th:block sec:authorize="!isAuthenticated()">To see our services please <a href="/users/login">login</a>!</th:block>
        </blockquote>
    </div>

<footer>
    <th:block th:replace="~{fragments/footer.html}"></th:block>
</footer>
    </body>
</html>