<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="~{fragments/head.html}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<div id="email-not-validated" sec:authorize="isAuthenticated()">
    <div th:unless="${emailNotValidated}" class="alert alert-danger text-center h4" >
    <p>Please verify your email!</p>
    </div>
</div>

    <div class="mainContainer-index">
        <blockquote id="index-response" class="index-quote">
            <h3>Welcome to CarWash!</h3>
            Get your car sparkling clean with our premium car washing services. Our state-of-the-art facility uses the latest tools and technologies to make sure your car gets a perfect clean, inside and out.
                We offer a range of car washing packages to suit your needs:
            <br>
            <br>
            <th:block sec:authorize="!isAuthenticated()">To see our services please <a href="/users/login">Login</a> or <a href="/users/register">Register</a>!</th:block>
            <th:block sec:authorize="isAuthenticated()">
                <script>
                    fetchIndex()
                </script>
            </th:block>
        </blockquote>
    </div>


    <th:block th:replace="~{fragments/footer.html}"></th:block>

    </body>
</html>