<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<div class="mainContainer">
        <form th:method="post" th:action="@{/users/login}">
            <label for="username"><b>Username</b><span>*</span></label>
            <input type="text" placeholder="Enter username" name="username"
                   id="username" class="requiredInput" required>
    
            <label for="password"><b>Password</b><span>*</span></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" class="requiredInput" required>
    
            <button type="submit">Log In</button>
            </form>

    </div>

<footer>
    <th:block th:replace="~{fragments/footer.html}"></th:block>
</footer>
    </body>
</html>