<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:replace="~{fragments/head.html}"></th:block>
</head>
<body onload="myAppointments()">
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table table-responsive-sm table-striped bg-white">
            <thead>
            <tr>
              <th th:text="#{created}"></th>
              <th th:text="#{vehicle}"></th>
              <th th:text="#{forDateTime}"></th>
              <th th:text="#{service}"></th>
              <th th:text="#{price}"></th>
              <th th:text="#{status}"></th>
            </tr>
            </thead>
            <tbody id="tbody">


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<th:block th:replace="~{fragments/footer.html}"></th:block>
<script th:src="@{/js/my-appointments.js}"></script>
</body>
</html>