<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script th:src="@{/js/profile.js}"></script>
    <th:block th:replace="~{fragments/head.html}"></th:block>

</head>
<body th:object="${user}">
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<div id="container-update-photo">
    <form method="post" th:action="@{/users/change/image}" enctype="multipart/form-data">
        <h5 class="d-inline-block" th:text="#{chooseAPicture}"></h5>
        <button id="close" type="button" class="float-right btn-dark mr-2" onclick="hide('container-update-photo')" th:text="#{close}"></button>
        <input type="hidden" th:value="${user.getUsername()}" name="username"/>
        <input id="input-file" type="file" name="image" accept="image/png, image/jpeg" is required/>
        <p></p>
        <button type="submit" id="upload-btn" class="btn btn-outline-danger" onclick="submit('container-update-photo')" th:text="#{submit}"></button>
    </form>
</div>

<div id="container-add-social">
    <form method="post" th:action="@{/users/social/add/{username}(username = ${user.getUsername()})}">
        <h5 class="d-inline-block" th:text="#{insertNameAndUrl}"></h5>
        <button type="button" class="float-right btn-dark mr-2" onclick="hide('container-add-social')" th:text="#{close}"></button>
        <input type="hidden" th:value="${user.getUsername()}" name="username" required/>
        <label for="type"></label>
        <input pattern="[a-zA-Z]+" placeholder="Facebook, Instagram, Twitter" name="type" id="type" required/>
        <label for="Link"></label>
        <input type="url" placeholder="URL" name="link" id="Link" required/>
        <p></p>
        <button type="submit" class="btn btn-outline-danger" onclick="submit('container-add-social')" th:text="#{submit}"></button>
    </form>
</div>


<div class="container emp-profile">
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img onclick="showForm('container-update-photo')" th:src="*{locatedOn}" alt="Profile"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <div th:if="${invalidImage}" class="alert alert-danger" th:text="#{invalidMissingimage}"></div>
                    <div th:if="${invalidSocial}" class="alert alert-danger" th:text="#{invalidSocialNameOrURL}"></div>
                    <h5 th:text="*{getFullName()} == 'null null' ? '[N/A]' : *{getFullName()}"></h5>
                    <h6 th:if="*{city != null}" th:text="#{from} + ': ' + *{city}"></h6>
                    <p class="proile-rating" th:text="#{appointments} + ' : ' + *{appointments}"></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true" th:text="#{aboutProfile}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false" th:text="#{timeline}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a th:if="${isAuthorized}"
                   th:href="@{/users/edit/{username}(username=${user.username})}"
                   class="btn btn-outline-info profile-edit-btn text-md-center text-sm-center flex-content"><small style="font-size: x-small" th:text="#{editProfile}"></small></a>
                <a th:if="${isAuthorized}"
                   onclick="showForm('container-update-photo')" class="btn btn-outline-dark profile-edit-btn btn-sm text-md-center text-sm-center"><small style="font-size: x-small" th:text="#{changePhoto}"></small></a>
                <a th:if="${isAuthorized}"
                   onclick="showForm('container-add-social')" class="btn btn-outline-success profile-edit-btn text-md-center text-sm-center"><small style="font-size: x-small" th:text="#{addSocial}"></small></a>
                <a th:if="${isAuthorized}"
                    class="btn btn-outline-dark profile-edit-btn text-md-center text-sm-center" th:href="'/users/edit-password/' + ${username}"><small style="font-size: x-small" th:text="#{changePassword}"></small></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p th:text="#{socials}"></p>
                    <div th:each="social : *{socials}">
                        <a th:href="${social.link}" th:text="${social.type.toUpperCase()}" th:target="_blank"></a>
                        <form method="post" th:action="@{'/users/social/delete/' + ${username} + '/' + ${social.type}}" class="float-md-right">
                            <button class="btn-dark ml-3" type="submit" th:if="${isAuthorized}" th:text="#{remove}"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label th:text="#{username}"></label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{getUsername()}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label th:text="#{fullName}"></label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{fullName} == 'null null' ? '[N/A]' : *{fullName}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label th:text="#{age}"></label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{age} == null ? '[N/A]' : *{age}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label th:text="#{email}"></label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{email}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label th:text="#{city}"></label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{city == null} ? '[N/A]' : *{city}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label th:text="#{role}"></label>
                            </div>
                            <div class="col-md-6" th:switch="*{role}">
                                <div th:case="'OWNER'">
                                <p th:text="#{owner}"></p>
                                </div>
                                <div th:case="'MANAGER'">
                                    <p th:text="#{manager}"></p>
                                </div>
                                <div th:case="'EMPLOYEE'">
                                    <p th:text="#{employee}"></p>
                                </div>
                                <div th:case="'USER'">
                                    <p th:text="#{user}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label th:text="#{registered}"></label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{registeredOn}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label th:text="#{vehicles}"></label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{vehicles}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label th:text="#{emailValidated}"></label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{isActive()} ? #{yes} : #{no}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label th:text="#{bio}"></label><br/>
                                <p th:text="*{bio}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer.html}"></th:block>
</body>
</html>