<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script th:src="@{/js/profile.js}"></script>
    <th:block th:replace="~{fragments/head.html}"></th:block>

</head>
<body th:object="${user}">
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<div id="container-update-photo">
    <form method="post" th:action="@{/users/change/image}" enctype="multipart/form-data">
        <h5 class="d-inline-block">Choose a picture!</h5>
        <button id="close" type="button" class="float-right btn-dark mr-2" onclick="hide('container-update-photo')">
            Close
        </button>
        <input type="hidden" th:value="${user.getUsername()}" name="username"/>
        <input id="input-file" type="file" name="image" accept="image/png, image/jpeg"/>
        <p></p>
        <button type="submit" id="upload-btn" class="btn btn-outline-danger" onclick="submit('container-update-photo')">
            Submit
        </button>
    </form>
</div>

<div id="container-add-social">
    <form method="post" th:action="@{/users/social/add/{username}(username = ${user.getUsername()})}">
        <h5 class="d-inline-block">Insert the name and the url!</h5>
        <button type="button" class="float-right btn-dark mr-2" onclick="hide('container-add-social')">Close</button>
        <input type="hidden" th:value="${user.getUsername()}" name="username" required/>
        <label for="type"></label>
        <input type="text" placeholder="Ex. Facebook, Instagram, Twitter" name="type" id="type" required/>
        <label for="Link"></label>
        <input type="url" placeholder="URL" name="link" id="Link" required/>
        <p></p>
        <button type="submit" class="btn btn-outline-danger" onclick="submit('container-add-social')">Submit</button>
    </form>
</div>


<div class="container emp-profile">
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img th:src="*{locatedOn}" alt="Profile"/>
                    <!--                    <a href="#" class="file btn btn-lg btn-primary" onclick="popup()" >-->
                    <!--                        Change Photo-->
                    <!--                    </a>-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5 th:text="*{getFullName()}"></h5>
                    <h6 th:text="'From: ' + *{city}"></h6>
                    <p class="proile-rating">APPOINTMENTS : <span th:text="*{appointments}"></span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a th:if="${isAuthorized}"
                   th:href="@{/users/edit/{username}(username=${user.username})}"
                   class="btn btn-outline-info profile-edit-btn">Edit Profile</a>
                <a th:if="${isAuthorized}"
                   onclick="showForm('container-update-photo')" class="btn btn-outline-dark profile-edit-btn">Change
                    Photo</a>
                <a th:if="${isAuthorized}"
                   onclick="showForm('container-add-social')" class="btn btn-outline-success profile-edit-btn">Add
                    Social</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>SOCIALS</p>
                    <div th:each="social : *{socials}">
                        <a th:href="${social.link}" th:text="${social.type.toUpperCase()}" th:target="_blank"></a>
                        <form method="post" th:action="@{'/users/social/delete/' + ${username} + '/' + ${social.type}}" class="float-md-right">
                            <button class="btn-dark ml-3" type="submit" th:if="${isAuthorized}">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{getUsername()}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Full Name</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{getFullName()}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{email}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>City</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{city == null} ? '[N/A]' : *{city}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Role</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{role}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Registered On</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{registeredOn}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Registered Cars</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{vehicles}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email Validated</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{isActive()} ? 'Yes' : 'No'"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Bio</label><br/>
                                <p th:text="*{bio}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>
</html>