<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
</head>
<body onload="getServices()">
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<div class="welcome">
        Those are our services!
    </div>

    <div id="services-container" class="mainContainer-services">


    </div>

    <footer>
        <span> SoftUni &copy Petyo Veselinov <script type="text/javascript">let year = new Date();document.write(year.getFullYear());</script>
        </span>
        </footer>
    </body>
</html>