<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body onload="getAllUsers()">
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<div class="container">
    <div class="bg-white border-left mt-4">
    <i class="fa-solid fa-magnifying-glass"></i><input type="text" id="search-bar"/>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrap">
                <table id="datatable" class="table table-responsive-sm table-responsive-lg table-striped bg-white">
                    <thead>
                    <tr class="text-center">
                        <th>Picture</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Higher Role</th>
                        <th>Age</th>
                        <th>Registered</th>
                        <th>Banned</th>
                        <th>Add Role</th>
                        <th>Ban</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<th:block th:replace="~{fragments/footer.html}"></th:block>
<script th:src="@{/js/all-users.js}"></script>
</body>
</html>