<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
    <script th:src="@{/js/delete-service.js}"></script>
</head>
<body onload="getOwnerServices()">
<th:block th:replace="~{fragments/navbar.html}"></th:block>

<form>
<div id="services-container" class="container">

</div>
</form>

<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>
</html>